
WindowsFormsApplication1/obj/Debug/MarathonScreenUpdater.csprojAssemblyReference.cache
WindowsFormsApplication1/obj/Debug/MarathonScreenUpdater.csprojAssemblyReference.cache
WindowsFormsApplication1/obj/Debug/MarathonScreenUpdater.csproj.GenerateResource.cache
.vs/MarathonScreenUpdater/v16/Server/sqlite3/storage.ide
.vs/MarathonScreenUpdater/v16/.suo
WindowsFormsApplication1/obj/Debug/MarathonScreenUpdater.csprojAssemblyReference.cache
WindowsFormsApplication1/obj/Debug/MarathonScreenUpdater.csproj.GenerateResource.cache
.vs/MarathonScreenUpdater/v16/Server/sqlite3/storage.ide
.vs/MarathonScreenUpdater/v16/.suo
